body {
    font-family: "Pinyon Script", cursive; /* Rodzina czcionek */
    font-size: 36px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #2f9ac4; /* Kolor tła strony internetowej */
    color: #333333; /* Kolor tła strony internetowej*/ 
}
h1 {
    color: #bd1f1a; /* Kolor nagłówka */
    font-size: 36px; /* Rozmiar czcionki nagłówka */
    font-family: "Pinyon Script", cursive; /* Rodzina czcionek używana w nagłówku */
    animation: colorChange 3s infinite; /* Animacja zmiany koloru */
}
.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}