body {
    font-family: "Pinyon Script", cursive; /* Rodzina czcionek */
    font-size: 72px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #929187; /* Kolor tła strony internetowej */
    color: #333333; /* Kolor tła strony internetowej*/ 
}
h1 {
    color: #000000; /* Kolor nagłówka */
    font-size: 40px; /* Rozmiar czcionki nagłówka */
    font-family: "Pinyon Script", cursive; /* Rodzina czcionek używana w nagłówku */
    animation: colorChange 3s infinite; /* Animacja zmiany koloru */
}
.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 300;
  font-style: normal;
}
h2 {
    color: #000000; /* Kolor nagłówka */
    font-size: 40px; /* Rozmiar czcionki nagłówka */
    font-family: "Pinyon Script", cursive; /* Rodzina czcionek używana w nagłówku */
    animation: colorChange 3s infinite; /* Animacja zmiany koloru */
}
h3 {
    color: #000000; /* Kolor nagłówka */
    font-size: 40px; /* Rozmiar czcionki nagłówka */
    font-family: "Pinyon Script", cursive; /* Rodzina czcionek używana w nagłówku */
    animation: colorChange 3s infinite; /* Animacja zmiany koloru */
}
h4 {
    color: #000000; /* Kolor nagłówka */
    font-size: 40px; /* Rozmiar czcionki nagłówka */
    font-family: "Pinyon Script", cursive; /* Rodzina czcionek używana w nagłówku */
    animation: colorChange 3s infinite; /* Animacja zmiany koloru */
}
a {
    color: #347a57; /* Kolor linków */
    text-decoration: underline; /* Dodanie podkreślenia do linków */
}